<div class="row">
  <div class="col-sm-8 col-md-8 col-sm-offset-2  col-md-offset-2">
    <div class="page-header">
        <h1>Good! <br> <small>Please finish the payment.</small></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-md-8 col-sm-offset-2  col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Premium Amount</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
            <div class="title">If the flight is delayed for more than 30 minutes or cancelled,<br> you will receive 5x as much as you payed: {{policy.amount * 5}} USD</div>
          <input type="text" ng-model="policy.amount"/>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-8 col-md-8 col-sm-offset-2  col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your accounts</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
         	  <button type="button" class="list-group-item"
                    ng-repeat="account in accounts"
                    ng-click="selectAccount(account)"
                    ng-class="{'list-group-item-info': selectedAccount == account}">Account at {{account.name}}<br>Balance:{{account.balance}} USD</button>
		      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-md-8 col-sm-offset-2  col-md-offset-2">
    <button type="button" class="btn btn-default pull-left"  ui-sref="insure.flightData">Back</button>
    <button type="button" class="btn btn-primary pull-right" ng-click="insure()" ng-disabled="!(policy.amount > 0)">Pay {{parseInt(policy.amount)}} USD</button>
  </div>
</div>
