<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>That's it ! <small>Thanks for not trusting us with your business.</small></h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-10 col-md-10 col-sm-offset-1  col-md-offset-1">
    <form name="flightDataForm" id="flightDataForm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your transaction receipt</h3>
        </div>
        <div class="panel-body">
          <p>{{transactionHash}}</p>
          <h3>Quick FAQ :</h3>
          <h4>What the *!@##!! am I supposed to do with this receipt?</h4>
          <p>We have some suggestions but you probably wouldn't like them.</p>
          <h4>Will I ever get my money back?</h4>
          <p>Probably not. We *are* an insurance company.</p>
          <h4>Can I cancel my policy?</h4>
          <p>Sure but, then again, we'll just keep your money.</p>
          <h4>Where are your TOS ?</h4>
          <p>Here: We have all the rights, you have none. Deal with it.</p>
          <h4>I selected the wrong day for my flight. What should I do?</h4>
          <p>Hope that flight gets delayed.</p>
          <h4>I typed in an invalid flight number. What should I do?</h4>
          <p>See if the donation is tax-deductible. (It's not, but we thank you!)</p>
        </div>
      </div>
    </form>
  </div>
</div>
