<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Done! Thank you for purchasing.<br> 
          <small>Your transaction receipt: <br>{{transactionHash}}</small></h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-10 col-md-10 col-sm-offset-1  col-md-offset-1">
    <form name="flightDataForm" id="flightDataForm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Quick FAQ</h3>
        </div>
        <div class="panel-body">
          <h4>What if I type the wrong flight number?</h4>
          <p>After your policy request is processed, your premium will be returned minus a small processing fee.</p>
          <h4>What if I book a flight on the wrong date?</h4>
          <p>Unfortunately, we do not currently support cancellations.  Please carefully check that the date is correct when purchasing your insurance.</p>
          <h4>Can I use this to buy insurance for my flight on Thursday?</h4>
          <p>Big Red Flight Insurance is currently a prototype and makes no guarantees about continued operation.  Please use at your own risk.</p>
          <h4>What if my flight is canceled completely?</h4>
          <p>A canceled flight will pay out as if it was delayed.</p>
          <h4>I can't see my policy in the list!</h4>
          <p>It may take several seconds for the list to update to reflect your policy.  Try refreshing your policy list page, and if it still does not show up check a blockchain explorer to see if your policy ID was included in the chain.</p>
        </div>
      </div>
    </form>
  </div>
</div>
