[submodule "code/TC-Linux/mbedtls-SGX"]
	path = code/TC-Linux/mbedtls-SGX
	url = https://github.com/bl4ck5un/mbedtls-SGX
[submodule "code/TC-Linux/libjson-rpc-cpp"]
	path = code/TC-Linux/libjson-rpc-cpp
	url = git://github.com/cinemast/libjson-rpc-cpp.git
