[submodule "code/TC-Linux/mbedtls-SGX"]
	path = code/TC-Linux/mbedtls-SGX
	url = https://github.com/bl4ck5un/mbedtls-SGX
[submodule "code/src/mbedtls-SGX"]
	path = code/src/Enclave/mbedtls-SGX
	url = https://github.com/bl4ck5un/mbedtls-SGX/
