[Unit]
Description=Town Crier SGX Server

[Service]
Type=simple
ExecStart=/opt/tc/tc -c /opt/tc/config-systemd --cwd /opt/tc/daemon

[Install]
WantedBy=default.target
