<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3>TC Simulator</h1>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-sm-6 col-md-6">

        <form name="policyDelayForm" id="policyDelayForm">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Remote control</h3>
            </div>
            <div class="panel-body">
              <div ng-if="error" ng-cloak class="ng-cloak error-panel">
                <div class="title">{{error.title}}</div>
                <div class="message">{{error.message}}</div>
              </div>

              <div class="form-group" >
                <label for="code">Policy ID</label>

                <input type="text" class="form-control" name="code" ng-model="policyDelay.code" required/>
              </div>

              <div class="form-group" >
                <label for="code">Delay</label>

                <input type="text" class="form-control" name="delay" ng-model="policyDelay.delay" required/>
              </div>

              <div class="form-group submit-container centered-text " style="margin-top:20px;">
                <button type="button" class="btn btn-red" ng-disabled="querying || !policyDelayForm.$valid" ng-click="deliver()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
  </div>


  <div class="col-sm-6 col-md-6">
      <img src="images/tc.png">
  </div>


</div>


